@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#color-field {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: none;
  outline: none;
  appearance: none;
}

#color-field::-webkit-color-swatch-wrapper {
  padding: 0;
}

#color-field::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.slider {
  appearance: slider-vertical;
  appearance: none;
  position: relative;
  margin: 20px;
  width: 20vw;
  border-radius: 50px;
  background: #d3d3d3;
  outline: none;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #357fbb;
  cursor: pointer;
}

.form-panel {
  display: none;
  height: 80vh;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

label {
  padding: 20px;
  font-size: 20pt;
  font-family: "Bungee", sans-serif;
  line-height: 100%;
}
.slider-wrapper {
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.slider-wrapper div {
  height: 50vh;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
}
.slider-wrapper div p {
  font-size: 20pt;
  padding: 5px;
  padding-left: 20px;
  font-family: "Bungee", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
header h1 {
  font-size: 2rem;
  font-family: "Bungee", sans-serif;
}

main {
  height: 80vh;
  background-color: aquamarine;
}
