@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: "Bungee", sans-serif;
  font-size: 1.5rem;
  padding: 0px 10px;
  border: none;
  box-shadow: black 0px 0px 3px;
  border-radius: 200px;
}

#color-field {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  border: #95b8d1;
  background-color: #95b8d1;
  outline: none;
  overflow: hidden;
  appearance: none;
}

#color-field::-webkit-color-swatch-wrapper {
  padding: 0;
}

#color-field::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.slider {
  appearance: slider-vertical;
  appearance: none;
  position: relative;
  margin: 20px;
  width: 64px;
  border-radius: 50px;
  background: #d3d3d3;
  outline: none;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #357fbb;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  appearance: none;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #357fbb;
  cursor: pointer;
}

.form-panel {
  display: none;
  height: 80vh;
  justify-content: space-around;
  padding-bottom: 100px;
  align-items: center;
  flex-direction: column;
}

#form-1 {
  padding-top: 20px;
}

#form-1 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form-7 div {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.form-panel label {
  padding: 20px 20px 0px 20px;
  font-size: 16pt;
  height: 20vh;
  font-family: "Bungee", sans-serif;
  line-height: 100%;
}
.slider-wrapper {
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.slider-wrapper div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
  margin: 0px 20px;
}
.slider-wrapper div p {
  font-size: 20pt;
  padding: 5px;
  padding-left: 20px;
  text-align: end;
  font-family: "Bungee", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #4a6670;
  color: white;
  box-shadow: 0px 0px 5px gray;
  border-radius: 0 0 25px 25px;
}
header h1 {
  font-size: 2rem;
  font-family: "Bungee", sans-serif;
}

main {
  height: 90vh;
  background-color: #95b8d1;
  max-width: 500px;
  margin: 20px auto 0px auto;
  border-radius: 25px 25px 0px 0px;
  box-shadow: 0px 0px 5px gray;
}

.next-button {
  font-size: 1rem;
  background-color: #666a86;
  color: white;
}

.form-panel textarea {
  margin: -40px 40px 20px 40px;
  height: 40vh;
}

#results-info {
  margin: 20px;
  font-size: 20pt;
  padding: 20px;
  text-align: justify;
}

#cookie-info {
  margin: 20px;
  font-size: 1rem;
  padding: 5px;
  text-align: justify;
}

#cookie-info button {
  font-size: 1rem;
  padding: 0px 10px;
  border: none;
  background-color: #ff1b1c;
  color: white;
  box-shadow: black 0px 0px 3px;
  margin-top: 10px;
  border-radius: 100px;
}

#count {
  display: inline;
}
